{% extends "layout.njk" %}

{% block content %}
<h2>Delete game?</h2>
<form method="post" action="/game/delete">
    <fieldset>
        <input type="hidden" value="{{ id }}" name="id">
        <input type="submit" value="Delete">
    </fieldset>
</form>
<fieldset>
    <a href="/adminPage">Cancel</a>
</fieldset>
{% endblock %}